.DS_Store
node_modules/
/NLP/src/__pycache__
/NLP/__pycache__
/NLP/tests/__pycache__
/website_develop/node_modules
website_develop/.env
Extension/_metadata/generated_indexed_rulesets/_ruleset1
Extension/_metadata/generated_indexed_rulesets/_ruleset1
